body{
  background-color: white;
}

#wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  max-width: 400px;
  height: 700px;
  justify-content: start;
  margin:auto;
  align-items: stretch;
  
}

.calculator-value{
  width: 100%;
  height: 8%;
  color: white;
  font-size: x-large;
  margin: 0%;
  background-color: black;
  text-align: right;

}

.calculator-value:hover{
  background-color: grey;
}

.calculator-value:active{
  background-color: khaki;
}


.clear-button{
  width: 50%;
  height: 15%;
  color: black;
  font-size:x-large;
  background-color: #d8d9db;
  margin: 0%;

}
.clear-button:hover{
  background-color: grey;
}

.clear-button:active{
  background-color: khaki;
}

.backspace{
  width: 24%;
  color: black;
  height: 15%;
  font-size: x-large;
  margin: 0%;
  background-color: #d8d9db;
}
.backspace:hover{
  background-color: grey;
}
.backspace:active{
  background: khaki;
}

.math{
  width: 24%;
  height: 15%;
  color: white;
  font-size: x-large;
  margin:0%;
  background-color: orange;
}

.math:hover{
  background-color: grey;
}

.math:active{
  background-color: khaki;
}

.number{
  width: 24%;
  color: black;
  height: 15%;
  font-size: x-large;
  margin: 0%;
  background: #d8d9db;
}

.number:hover{
  background-color: grey;
}
.number:active{
  background: khaki;
}
.number-zero{
  width: 75%;
  height: 15%;
  color: black;
  margin: 0%;
  background-color: #d8d9db;
  font-size: x-large;

}

.number-zero:hover{
  background-color: grey;
}

.number-zero:active{
  background-color:khaki;
}
