body{
  background-color: aquamarine;
}

#wrapper{
  display: flex;
  flex-direction: row;
  flex-wrap:wrap;
  max-width: 400px;
  justify-content: center;
  align-items: center;
}

.calculator-value{
  width: 100%;
  color: white;
  font-size: medium;
  margin: 0%;
  background-color: black;
}


.clear-button{
  width: 50%;
  color: black;
  font-size: large;
  background-color: #d8d9db;
}

.backspace{
  width: 24%;
  color: black;
  height: 15%;
  font-size: large;
  margin: 0%;
  background-color: #d8d9db;
}

.math{
  width: 24%;
  height: 15%;
  color: white;
  font-size: large;
  margin:0%;
  background-color: orange;
}





.number{
  width: 24%;
  color: black;
  height: 15%;
  font-size: large;
  margin: 0%;
  background: #d8d9db;
}


.number-zero{
  width: 75%;
  color: black;
  height: 15%;
  margin: 0%;
  background-color: #d8d9db;
  font-size: large;

}
